
{% extends 'form.html.twig'  %}

{% block specific_fields %}


    <label for="nom">Nom de l'établissement:</label>
    <input type="text" id="nom" name="nom">
    <label for="id">ID Prévarisc de l'établissement:</label>
    <input type="number" id="id" name="id">
    <button type="submit">Ajouter</button>

{% endblock %}