<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-9ijS9XCBctne4sz6nRVE6fYn6JZUx27M+3/qpCFo0P/14y9X+ctUdaw0N4N6U0J6" crossorigin="anonymous"></script>

    <title>- Portail de connexion Metarisc</title>
</head>
<body>


    {% block content %}
<div class="container">
<h1 class="text-center mb-3">Bienvenue dans {{ title }} !</h1>
<form  method="GET" action="../src/connection.php" >
  <button type="submit" class="btn btn-secondary  mb-4">Acceder à la page de connexion</button>
</form>    
    {% endblock %}
    <footer style=" padding: 20px; position: fixed; bottom: 0; width: 100%;" class="text-center" >
    <div class="container">
    <p><strong>&copy; 2023. Metarisc Connexion.</strong></p>
  </div>
</footer>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
