{% extends 'index.html.twig' %}

{% block content %}
<div class="container">

{% set code_autorisation = app.request.query.get('code') %}
<h1>Retour connexion</h1>
<p>{{link}}</p>

<p>MAMAMAMMAMAMAMAMAMA</p>
  <a href="../scr/access.php" class="btn btn-link"><button type="submit" class="btn mb-4" >Prendre son envol</a></button>
</div>
{% endblock %} 